*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.encabezado{
    width: 100%;
    height: 90px;
    background-color: aquamarine;
}
.menu{
    width: 100%;
    height: 50px;
    display: flex;
}

.menu ul{
    display: flex;
    margin: auto;
}

.menu li{
    list-style: none;
    padding: 15px 20px;
}

.menu li{
    background: rgba(0, 0, 0, 0.3);
    color: white;
    transition: all 300ms;
}

.menu ul li ul{
    display: none;
}